.conceptual-section{
  padding: 1rem;
  
}
@media (min-width: 900px) {
 
    .custom-border-c {
      border-bottom: 1px solid #000000; /* Example border styling */
    }
    .text {
      max-width: 40%;
    }
    
  
    
}

@media (max-width: 376px) { /* Adjust the max-width as needed for your target devices */
  .conceptual-section {
    padding: 0; /* Remove padding for smaller devices */
  }
}